startup --host_jvm_args=-XX:-UseParallelGC

build --enable_bzlmod

# Linux GCC
build:linux --cxxopt=-std=c++20

# Windows MSVC
# build:windows --copt=/std:c17
build:windows --copt=/W3
build:windows --cxxopt=/std:c++latest
build:windows --cxxopt=/W3
build:windows --host_copt=/std:c++latest
build:windows --action_env=BAZEL_VC="C:/Program Files/Microsoft Visual Studio/2022/Community/VC"
build:windows --action_env=VCPKG_ROOT="D:/vcpkg"
build:windows --define=NO_CMAKE=1

test --test_output=all
test --cache_test_results=auto
test --jobs=4
test --color=yes
