---
# C/C++
If:
  PathMatch:
    - .*\.c
    - .*\.h
    - .*\.cpp
    - .*\.hpp
    - .*\.cc
    - .*\.hh
    - .*\.cxx
    - .*\.hxx
    - .*\.ixx
    - .*\.cppm

CompileFlags:
  Add:
    - -I.
    - -I./include
    - -std=c++23
  Remove:
    # NOTE: for linux gcc
    - -fmodules-ts
    - -fmodule-mapper*
    - -fdeps-format=p1689r5

---
# CUDA
If:
  PathMatch:
    - .*\.cu
    - .*\.cuh

CompileFlags:
  Add:
    - -I.
    - -I./include
    - -x
    - cuda
    - -std=c++23
    # NOTE: linux gcc settings, move it to global settings
    # - -stdlib=libstdc++
    # - --gcc-toolchain=/usr/local
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code*
    - -Xcompiler=*

---
# COMMON
Index:
  Background: Build
  StandardLibrary: true

Diagnostics:
  Includes:
    AnalyzeAngledIncludes: false
  UnusedIncludes: Strict
  MissingIncludes: None

InlayHints:
  Enabled: true

Hover:
  ShowAKA: true
# Documentation:
#   CommentFormat: Doxygen
